/* ScheduleStudy.module.css */
.container {
    min-height: 100vh;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #111827;
}

.add_search {
    display: flex;
    gap: 12px;
    padding: 8px 16px 16px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0 3rem;
}

.btn_add {
    flex: 1;
    margin-top: 2rem;
}

/* .search {
    flex: 4;
} */

.filter {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: .75rem;
    padding: 1rem;
    margin: 2rem 0 0 0.5rem;
}

.filter_status {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 1rem;
}

.filter_status_s {
    display: flex;
    gap: 12px;
    padding: 8px;
    background-color: #fff;
    border-radius: .75rem;
    cursor: pointer;
    justify-content: flex-start;
    border: 1px solid #ccc;
}

.filter_status_s:hover {
    border: 1px solid aquamarine;
}

/* .filter_subjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 1rem;
}

.filter_subject {
    display: flex;
    gap: 12px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    justify-content: flex-start;
}

.filter_subject:hover {
    border: 1px solid aquamarine;
} */

.active {
    border: 2px solid #4a90e2;
    background-color: #e6f0ff;
}

.list {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2rem;
    margin-left: 5rem;
}

.item {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.31);
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: auto;
    overflow: hidden;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.card_header {
    display: flex;
    justify-content: space-between;
}

.card_header_left {
    display: flex;
    gap: 3px;
}

.card_title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #111827;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 2px;
}

.edit_icon {
    height: 1.3rem;
    cursor: pointer;
}

.card_description {
    white-space: pre-wrap;
}

.card_date {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

/* Overlay modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    z-index: 100;
}

/* Modal container */
.csvModal {
    background-color: #ffffff;
    border-radius: 10px;
    width: 600px;
    max-width: 90%;
    margin-top: 3rem;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
    max-height: 80%;
    overflow-y: auto;
}

/* Modal header (chứa AddScheduleStudy) */
.csvHeader {
    margin-bottom: 10px;
}

/* Keyframes cho modal fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}