.textarea {
    width: 100% !important;
    min-height: 40px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #0070f3;
    border-radius: 4px;
    padding: 4px 8px;
    overflow: hidden;
    line-height: 1.5;
    font-size: 14px;
    
}