.detail_container {
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 16px;
}

.info_box {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 16px;
    background-color: white;
    transition: border-color 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    width: 40%;
}

.info_box p {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 6px;
}

.info_box strong {
    color: #1e293b;
    min-width: 150px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.info_box span {
    font-size: 16px;
}

.list_exam {
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: white;
}

.table th,
.table td {
    padding: 12px 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
    border: 1px solid #ccc;
}

.table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.empty {
    text-align: center;
    color: #9ca3af;
    padding: 20px 0;
    font-style: italic;
}

.error {
    color: red;
    font-weight: 500;
}

.container {
  padding: 20px;
  background: #f9fafc;
  border-radius: 12px;
}

.backBtn {
  background: none;
  border: none;
  color: #2563eb;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 12px;
}

.info {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
}



.empty {
  color: #9ca3af;
  font-style: italic;
}