.chartBox {
  background: #fff;
  border-radius: 12px;
  padding: 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  min-width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap : 2rem
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.select {
  padding: 0.4rem 0.6rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f9f9f9;
}